<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="./script.js" defer></script>
    <link rel="stylesheet" href="style.css" type="text/css" />

    <title>Document</title>
  </head>
  <body>
    <div id="header"></div>
    <main>
      <section class="table-section">
        <h1>Ano de 2024</h1>
      </section>
      <h1>Registro contábil</h1>
      <p>A visualização a seguir se trata de um relatório diário</p>
      <section></section>
      <section class="chart-wrapper">
        <div>
          <input type="date" name="" id="start" lang="pt-BR" />
          <input type="date" name="" id="end" lang="pt-BR" />
          <button type="submit" id="filter">Filtrar</button>
        </div>
        <div class="chart"></div>
      </section>
    </main>
    <div id="footer"></div>
  </body>
</html>
